*{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box
}

html,body{
	height: 100%;
}

body{
	margin: 0px;
	padding: 0px;
	background-color: #e0e0e0;
	color: #404040;
	font-family: sans-serif;
	font-size: 13px;
}

#div-title{
  z-index: 53;
  position: fixed;
  top: 0px;
  height: 32px;
  left: 0px;
  right: 0px;
	padding: 5px;
	border-bottom: solid 1px #c0c0c0;
	background-color: #e5ecf9;
	color: #777777;
	font-size: 18px;
	font-weight: bold;
}

#div-footer{
  z-index: 51;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 24px;
  padding: 5px;
	border-top: solid 1px #c0c0c0;
	background-color: #e5ecf9;
  color: #777777;
  font-size: 10px;
	text-align: right;
}

#div-tooltip{
  z-index: 60;
  position: fixed;
  top: 30px;
  left: 200px;
  padding: 4px;
  display: none;
	background-color: #ffffca;
  border: solid 1px #c0c0c0;
  color: #000000;
  font-size: 10px;
}

.div-io-panel{
  z-index: 52;
  position: fixed;
  top: 32px;
  right: 0px;
  padding: 5px;
  display: none;
	background-color: #e5ecf9;
  border: solid 1px #c0c0c0;
  border-top: none;
}

#div-menu-panel{
  z-index: 50;
  position: fixed;
  top: 32px;
  width: 200px;
  margin-left: 4px;
}

#div-options-panel{
  z-index: 52;
  position: fixed;
  top: 32px;
  right: 0px;
  margin-right: 4px;
  display: none;
}


/*=====================================*/
/* CANVAS                              */
/*=====================================*/
#div-canvas-wrapper{
  z-index: 0;
	position: fixed;
  top: 32px;
  bottom: 24px;
  left: 0px;
  right: 0px;
	padding: 0px;
  font-size: 12pt; 
  font-family: Times, serif;
}

#div-canvas-overlay{
  z-index: 40;
	position: fixed;
  top: 32px;
  bottom: 24px;
  left: 0px;
  right: 0px;
	padding: 0px;
}

#canvasBG{
  z-index: 0;
  position: absolute;
}

#canvas{
  z-index: 2;
  position: absolute;
}

.jfig-label{
  z-index: 3;
  position: absolute;
}

.jfig-image{
  z-index: 1;
  position: absolute;
}

.jfig-anchor{
  z-index: 30;
  position: absolute;
  width: 16px;
  height: 16px;
  outline: dotted 1px #ff00ff;
}

/*texcanvas figures live inside of jfig-image divs*/
.fig-canvas{
  width: 100%;
  height: 100%;
}

/*=====================================*/
/* TOOLBARS                            */
/*=====================================*/
#div-toolbar-main{
  z-index: 54;
  position: fixed;
  top: 0px;
  height: 32px;
  right: 0px;
  padding: 5px;
  color: #777777;
  font-size: 10px;
}

#div-toolbar-container{
  z-index: 54;
  position: fixed;
  top: 0px;
  height: 32px;
  left: 70px;
  color: #777777;
  font-size: 10px;
}

#div-toolbar-elements{
  display: inline-block;
  padding: 5px;
}

#div-toolbar-selection{
  display: inline-block;
  padding: 5px;
}

.toolbar-button{
  padding: 2px; 
  margin: 2px;
}


/*=====================================*/
/* PANEL COMPONENTS                    */
/*=====================================*/
div.panel-title{
	margin-top: 3px;
	padding: 2px;
  border: solid 1px #c0c0c0;
	background-color: #e5ecf9;
	font-weight: bold;
	color: #777777;
}

div.panel-title span{
  font-weight: normal;
  float: right;
}

div.panel-subtitle{
  margin-top: 3px;
	padding: 2px;
  border: solid 1px #c0c0c0;
  border-bottom: dotted 1px #c0c0c0;
	background-color: #e5ecf9;
	font-weight: bold;
	color: #777777;
}

div.panel-subtitle span{
  font-weight: normal;
  float: right;
}

div.panel-subtitle input{
  padding: 0px;
  margin: 0px;
}

div.panel-contents{
  padding: 2px;
  border: solid 1px #c0c0c0;
  border-top: none;
  background-color: #ffffff;
}

div.panel-contents table{
  width: 100%;
  border-collapse: collapse;
}

div.panel-contents td{
  padding: 1px;
}

div.panel-contents input{
  padding: 0px;
  margin: 0px;
}

div.panel-contents input[type="text"]{
	background-color: #f0f0f0;
	border: dotted 1px #c0c0c0;
	width: 100%;
	font-family: monospace;
}

div.panel-contents span.infotext{
	font-size: 10px;
	color: #808080;
}
